[Desktop Entry]
Name=SLYNT
Comment=Hi-Fi Music Player
Exec=/usr/bin/slynt
Icon=slynt
Type=Application
Categories=Audio;Music;Player;AudioVideo;
Terminal=false
